<script id="about-template" type="text/template">
	<h1>About Us </h1>
   <div class="row-fluid">
        <div class="accordion" id="accordion2">

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                What is The Karma Project?
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>We have developed our website to help the Arabic world reach its fully potentials in supporting creativity , innovations and the social good. Finding the proper assistance or funding is now made easy with The Karma Project.  Sign up with your Facebook or Linkedln account and post your coming projects to find experts and good youth from your own community. If you do not have a project you can simply be a useful individual and join multiple interesting projects around your region for reasonable income, experience and fun to occupy your free time!</p>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                What is the idea of Karma?
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>The idea of the Karma Project is simple and easy ! you just assist a project’s growth and you will gain Karma points to earn cool badges and get paid by project owners. Do good and you get good in return; that is what the Karma is all about !</p>
              </div>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                The Team
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Our Team consists of:</p>
                <br/>
                <table class="table table-striped">
                    <tr>
                        <th>Position</th>
                        <th>Name</th>
                        <th>University/Company</th>
                    </tr>
                    <tr>
                        <td>Mentor</td>
                        <td>Mohamed Mansour</td>
                        <td>Microsoft, USA</td>
                    </tr>

                    <tr>
                        <td>Student</td>
                        <td>Antoine Grondin</td>
                        <td>University of Ottawa, Canada</td>
                    </tr>

                    <tr>
                        <td>Student</td>
                        <td>Anas Boubas</td>
                        <td>UAE University, UAE</td>
                    </tr>

                    <tr>
                        <td>Student</td>
                        <td>Kalthoom AlAwar</td>
                        <td>UAE University, UAE</td>
                    </tr>

                    <tr>
                        <td>Student</td>
                        <td>Amna AlDhaheri</td>
                        <td>UAE University, UAE</td>
                    </tr>

                </table>
              </div>
            </div>
          </div>


        </div>
    </div>


</div>

</script>