<script type="text/template" id="comment-list-template">
  <tr>
     <td class="span10">
      <a href="/users/<@- user_id @>" data-href><@- name @></a>
      </td> <!-- TODO add user_id -->
     <td clas="span10"><@- comment @></td>
  </tr>
</script>
