<script type="text/template" id="comment-list-template">
  <tr>
     <td><a href="/users/<@- user_id @>" data-href><@- name @></a></td> <!-- TODO add user_id -->
     <td><@- comment @></td>
  </tr>
</script>
