<script id="index-template" type="text/template">
    <div class="row-fluid">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="span8">
                <h1 id="hero-unit-header">The Karma Project</h1>
                <p id="hero-unit-subtext">Spend the karmas around!</p>
                <p><a href="/about" data-href class="btn btn-primary btn-large">Learn more</a></p>
                </div>
                <div class="span4"><img id="hero-unit-img" src="http://www.codigital.com/share/images/site/collaboration_overview_v04.png"></div>
>>>>>>> updated picture on index page
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <h3>Recent Projects</h3>
    </div>

    <div class="row-fluid">
        <ul class="row-fluid" id="recent-projects">
        </ul>
    </div>
</script>
