<!DOCTYPE html>
<html>
  <head>
    <title>The Karma Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <!-- Navigation bar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
            <a class="brand" href="/" data-href>The Karma project</a>
            <ul class="nav">
                <li><a href="/about" data-href>About</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/projects" data-href>Projects</a></li>
                <li class="divider-vertical"></li>
            </ul>
            <ul class="nav pull-right">
                <% if (!user) { %>
                <li class="navbar-text">Sign in as</li>
                <li><a href="/auth/facebook"><img src="/static/img/signInBtns/facebook_16.png"></a></li>
                <li><a href="/auth/linkedin"><img src="/static/img/signInBtns/linkedin_16.png"></a></li>
                <% } else {%>
                <li><div class="dropdown">
                  <a class="dropdown-toggle btn btn-primary" id="dLabel" role="button" data-toggle="dropdown" href="#">
                    <i class="icon-user icon-white"></i> <%=user.name%>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="userPage.html">View My Profile</a></li>
                    <li><a href="newProject.html"><strong>Create a new project</strong></a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div></li>
                <% } %>

                <li class="span1"> </li>

            </ul>
        </div>
        </div>
    </div>
<br/>
<br/>
<br/>
<!-- body! -->

<div class="container-fluid" id="main-content">

</div>


<!-- footer -->
<div class="container-fluid">
    <div class="row-fluid">
        <hr/>
        <p class="text-center"><small>The Karma Project&copy;</small></p>
    </div>
</div>


    <% include template %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/lodash.min.js"></script>
    <script src="/static/js/vendor/backbone-min.js"></script>
    <script src="/static/js/main.js"></script>

    <script src="/static/js/views/application-view.js"></script>
    <script src="/static/js/views/project-card-view.js"></script>
    <script src="/static/js/views/project-listing-view.js"></script>
    <script src="/static/js/views/project-view.js"></script>
    <script src="/static/js/views/user-view.js"></script>
    <script src="/static/js/views/about-view.js"></script>

    <script src="/static/js/models/application-model.js"></script>
    <script src="/static/js/models/project-model.js"></script>
    <script src="/static/js/models/user-model.js"></script>
    <script src="/static/js/models/task-model.js"></script>

    <script src="/static/js/collections/application-collection.js"></script>
    <script src="/static/js/routes/application-router.js"></script>

</body>
</html>
