<script type="text/template" id="project-card-template">
    <div class="thumbnail">
        <img src="http://saarc-smrc.org/images/noimage.jpg" alt="Project Thumbnail"/>
        <h3 class="text-error">Project Title</h3>
        <p class="text-info">Some Text...Some Text...Some Text...Some Text...Some Text...Some Text...Some Text...Some Text...Some Text...Some Text...</p>
        <!-- bars for each project card-->
        <p>Funding <div class="progress progress-info progress-striped">
            <div class="bar" style="width: 30%;"></div>
        </div></p>
        <p>Tasks <div class="progress progress-warning progress-striped">
            <div class="bar" style="width: 50%;"></div>
        </div></p>

        <p><a href="#" class="btn btn-info">Explore</a></p>

    </div>
</script>