<script type="text/template" id="project-create-template">

<div class="container-fluid">
    <div class="page-header">
        <h1>Create a New Project</h1>
    </div>
    <div class="row-fluid">
        <form>
            <fieldset>
                <legend>New Project Form</legend>
                <div class="row-fluid"><div class="container pull-left">
                    <label class="span2">Project Title: </label>
                    <input class="span3" type="text" id="projectTitle" value="<@- title @>">
                </div></div>

                <div class="row-fluid"><div class="container pull-left">
                    <label class="span2">Description: </label>
                    <input class="span3" type="text" id="description" value="<@- description @>">
                </div></div>

                <div class="row-fluid"><div class="container pull-left">
                    <label class="span2">Total Fund Needed: </label>
                    <input class="span3" type="text" id="fundNeeded" value="<@- funding @>">
                </div></div>

                <div class="row-fluid"><div class="container pull-left">
                    <label class="span2">Thumbnail URL: </label>
                    <input class="span3" type="text" id="imgThumbnail" value="<@- picture @>">
                </div></div>

                <div class="row-fluid"><div class="container pull-left">
                    <h3>Tasks</h3>
                </div></div>

                <div class="row-fluid">
                    <div class="container-fluid">
                        <a href="#taskModal" role="button" class="btn btn-primary" data-toggle="modal" >Add a Task</a>

                        <div id="taskModal" class="modal hide fade" data-target="#modalTarget">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3>Add a Task</h3>
                            </div>
                            <div class="modal-body">

                                <div class="row-fluid"><div class="container pull-left">
                                    <label class="span2">Task: </label>
                                    <input class="span3" type="text" id="taskTitle">
                                </div></div>

                                <div class="row-fluid"><div class="container pull-left">
                                    <label class="span2">Resources: </label>
                                    <input class="span3" type="text" id="resources">
                                </div></div>

                                <div class="row-fluid"><div class="container pull-left">
                                    <label class="span2">Karma Points: </label>
                                    <input class="span3" type="text" id="karma">
                                </div></div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-danger resetTask">Reset</a>
                                <a href="#" class="btn btn-primary addTask">Add</a>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row-fluid"><div class="container-fluid">
                    <p></p>
                    <table class="table table-striped">
                            <thead><tr>
                                <th class="span4">Task</th>
                                <th class="span4">Resources</th>
                                <th class="span2">Karma Points</th>
                                <th class="span2"> </th>
                            </tr>
                            </thead>
                            <tbody id="project-task">

                        </tbody></table>
                    </div>
                </div>

                <br>
                <br>
                <div class="row-fluid text-center">
                    <button class="btn btn-danger" type="button">Reset</button>
                    <button class="btn btn-primary save" type="Submit">Publish Project</button>
                </div>






            </fieldset>

        </form>

    </div>
</div>

</script>
