<script type="text/template" id="project-create-task">
<tr id="task-<@- id @>">
   <td class="span10"><@- title @></td>
   <td class="span10"><@- res @></td>
   <td class="span10"><@- karma @></td>
   <td class="span2">
   <button class="btn btn-mini btn-danger deleteTask" type="button">Delete Task</button></td>
</tr>
</script>
