<script type="text/template" id="project-card-template">
    <div class="thumbnail">
        <img src="<@- picture @>" alt="Project Thumbnail"/>
        <h3 class="text-error"><@-title@></h3>
        <p class="text-info"> <@-description@> </p>
        <!-- bars for each project card-->
        <p>Funding <div class="progress progress-info progress-striped">
            <div class="bar" style="width: <@- funding_percent @>%;"></div>
        </div></p>
        <p>Tasks <div class="progress progress-warning progress-striped">
            <div class="bar" style="width: <@- task_percent @>%;"></div>
        </div></p>

        <p><a href="/projects/<@= id @>" class="btn btn-info explore" data-href>Explore</a></p>

    </div>
</script>
