<script type="text/template" id="task-list-template">
<tr>
   <td class="span10"><@- title @></td>
   <td class="span2">
      <button class="btn btn-small btn-primary doTask" type="button">I'll Do it!</button>
   </td>
</tr>
</script>
